.static{
    height: 400; color: #f9f9f9;
    width: auto;
    position: static;
    display: flex;
margin-top: -10;
margin-bottom: -10;
margin-left: -10;
margin-right: -10;
background-color: #009A54;
flex-direction: column;
align-items: center;
}
.menuSticky{
            overflow: hidden;
            top: 0;
            position: sticky;
            height: 200px;
            margin-bottom: -10;
            margin-left: -10;
            margin-right: -10;
            justify-content: center;
        }

        ul {
            list-style-type: none;
            overflow: hidden;
            background-color: #CFEA45;
        }
 
        li {
            float: left;
        }
 
        .opcion {
            display: inline-block;
            color: #212121;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropbtn {
            display: inline-block;
            color: #212121;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropdown {
            display: inline-block;
        }
 
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
 
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
 
        .dropdown:hover .dropdown-content {
            display: block;
        }


table td{
width: 10em;
justify-content: center;

}

.table {
    display: block;
    width: 870px;
    text-align: center;
}

.td {
    display: inline;
    background-color:  #1547F6;
    padding: 5px;
    margin: 5px;
    color: #f9f9f9;
    
    
}
.th {
    background-color: #F78F72;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}

.tr {
    display: block;
}

.td1 {
    display: inline-block;
    width: 13.98%;
    padding: 10px;
    background-color: #009A54;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.td2 {
     display: inline-block;
    width: 13.98%;
    padding: 10px;
    text-align: center;
    background-color: #fdbce8;
    margin-top: 5px;
}
.td3 {
     display: inline-block;
    width: 13.98%;
    padding: 10px;
    background-color:  #fdbce8;
    text-align: center;
    margin-top: 5px;
}
.td4 {
     display: inline-block;
    width: 13.98%;
    padding: 10px;
    background-color: #fdbce8;
    text-align: center;
    margin-top: 5px;
}
.td5 {
     display: inline-block;
    width: 13.98%;
    padding: 10px;
    background-color:  #fdbce8;
    text-align: center;
    margin-top: 5px;
}
.hora {
    font-weight: bold;
}
    
.sparkles{position:fixed;
    inset:0;
    width:100%;
    height:100vh;
    pointer-events:none;

    background-image:
    
    /* sparkles */
    radial-gradient(circle, rgba(255, 187, 0, 0.95) 2px, transparent 2px),
    radial-gradient(circle, rgba(247,143,114,0.8) 3px, transparent 3px),

    /* estrellas */
    radial-gradient(circle at center, #1547F6 0 2px, transparent 3px),

    /* glitter */
    radial-gradient(circle, rgba(255, 255, 255, 0.5) 1px, transparent 1px);

    background-size:
    120px 120px,
    180px 180px,
    250px 250px,
    80px 80px;

    animation:sparkleMove 12s linear infinite;
}

@keyframes sparkleMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-120px);
    }
}

@keyframes floatHearts{
    from{
        transform:translateY(20px);
    }
    to{
        transform:translateY(-20px);
    }}

    #slideshow {
        text-align: center;
        overflow: hidden;
        height: 500px;
        width: 500px;
        margin-bottom: 400px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .slide-wrapper {
        width: 2500px;
        animation: slide 10s infinite ease-in-out;

    

      }
      
      
      .imgUno{
        background-color: rgb(255, 255, 255);
     background-color: rgb(255, 255, 255);
        float: left;
        height: 500px;
        width: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjD-JnH5JLSc9naH0qw-sx2GCAg_fXqTE4Qf8n8XADswgVFcCPW6RGv5sN9_PO75KPr9wQ2Sq3oVRfbSMmwl5NoRddsdMDdWG9QSndAcvi6Ub-1UHPe8tFtNI7igc2vjBIvMJLrYdwC4rwqrCTMUsCOJF4XpoFwnaNgYpmKGWNB4tDaycexgy9KYgAui9UO/s4500/foto5.png);
    }

        /*Agregar background-image: url(); para añadir imágenes*/
        

      .imgDos {
        background-color: rgb(255, 255, 255);
        float: left;
        height: 500px;
        width: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHzdH-D5v35f_FKcdZtt0F2RgQ8SXJYTYaCzMHe_5_dUGJrM9j7Y3UUORljwy9_yE-07xdSZ4KidNGRTxO1KfCVGGmdeiEL7VdPTZ_qEqoFLTwrlfvLNp5wQdrfGWblkf41PKvuY1g2Oo4qvEvzr-qStnMhyS_N6gIoOLVmVkWmWnUxb6ocf80k4Ygbg3l/s4500/foto4.png);
      }
      
      .imgTres {
        background-color: rgb(255, 255, 255);
        float: left;
        height: 500px;
        width: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-KKhHf72j_KZQp8f-z5puUJxweCOMwuFL-qTBEBG-6K8MaEhiMGlKbW_E8a-NUU7xRucudKKgQDhMhuM_p64b327ClMxDXzUW8WKs1TSNA3egeSZTW8I1XSNHLhhpfF4YgpaSt7Ku-T-ykDPScPfMfl6PV4cY8sowM2c7Rvj6PHGl127sah40UsX0lxc1/s4500/foto1.png);
      }
      
      .imgCuatro {
        background-color: rgb(255, 255, 255);
        float: left;
        height: 500px;
        width: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgGAQd-tOX0-vG5YkZ-nYj0Z4LlHyCCACU8Odo6yxeHUi7L15UVCINMJDQSXDXV7-K7LHEvWOypBzsPg96i5-47HkGTUh8qg3hbVuJ1PZwXpVMT8iJsZCWpxyx1QX3FX81i-633k4grMDy5RtfSr7dNarH5rh456ZB4Gu90Fp1C6fi9XQrx2rrtZdtnu9YC/s4500/foto2.png);
      }
      
      .imgCinco{
        background-color: rgb(255, 255, 255);
        float: left;
        height: 500px;
        width: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8fkclQsIhU5L90ay9ArFt-cuOw1CmTpqKQrzBAJY0HTZ2o42ri0M0jtYpamYN67sWIBXDGowWsJ45nOjP7NUl5HmIXSagruDQAhWbsambhGFnK_-bQ1diyp4cDMjlzy-JIEzCS8scZDW0Pp-doL_2GXAradxTY4hTKriH6VMIdFKVMZmhyphenhyphenOZVQ9i9ArYl/s4500/foto3.png);
      }

      
      @keyframes slide {
        20% {margin-left: 0px;}

        30% {margin-left: -500px;}

        40% {margin-left: -500px;}

        50% {margin-left: -1000px;}

        60% {margin-left: -1000px;}

        70% {margin-left: -1500px;}

        80% {margin-left: -1500px;}

        90% {margin-left: -2000px;}

        100% {margin-left: -2000px;}
      }